$blue: #0578ff;
$gray: #808080;
$light-blue: #057aff91;

@mixin for-desktop {
  @media (min-width = 1274px) {
    @content;
  }
}
@mixin for-laptop {
  @media (max-width = 1050px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width = 420px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width = 768px) {
    @content;
  }
}
