@import "../variables/variables.scss";
.user-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  align-items: center;
}

@include for-tablet {
  .user-section{
    width: 100%;
  }
}