@import "../../Components/variables/variables.scss";

.home-container {
  display: flex;
  justify-content: space-between;
  .train-image {
    min-width: 50%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@include for-laptop {
  .train-image {
    display: none;
  }
  .left-section {
    margin-bottom: 1rem;
  }
}
