@import "../../Components/variables/variables.scss";
.review-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@include for-laptop {
  .review-container {
    flex-direction: column;
  }
}
